# Compiled binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# The go binary
go

# The default output folder for LiteIDE
_liteide/

# The default output folder for Visual Studio Code
.vscode/

# macOS specific files
.DS_Store

# Directory for test binary
testbin/

.idea

tmp
